<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="container-fluid bg-main">

    <form class="form-horizontal" th:action="@{${'~' + #httpServletRequest.requestURI}}" method="GET">
        <div class="form-group">
            <label>Hotel name</label>
            <input type="text" name="name"/>
        </div>
        <div class="form-group">
            <label>Pool</label>
            <input type="checkbox" name="hasPool" />
        </div>
        <div class="form-group">
            <label>Waterpark</label>
            <input type="checkbox" name="hasWaterpark" />
        </div>
        <div class="form-group">
            <label>Tennis Court</label>
            <input type="checkbox" name="hasTennisCourt" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search"/>
        </div>
    </form>

    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Hotel name</th>
                <th>Pool</th>
                <th>Waterpark</th>
                <th>Tennis Court</th>
            </tr>
            <div th:each="hotel : ${hotels}">
                <tr>
                    <td th:text="${hotel.name}"></td>
                    <td><i th:class="${hotel.hasPool}? 'fa fa-check-square-o' : 'fa fa-minus'" aria-hidden="true"></i>
                    </td>
                    <td><i th:class="${hotel.hasWaterpark}? 'fa fa-check-square-o' : 'fa fa-minus'"
                           aria-hidden="true"></i></td>
                    <td><i th:class="${hotel.hasTennisCourt}? 'fa fa-check-square-o' : 'fa fa-minus'"
                           aria-hidden="true"></i></td>
                </tr>
            </div>
        </table>
    </div>

    <div class="row">
        <div th:unless="${totalPages < 2}">
            <ul class="pagination" th:each="pageNum : ${#numbers.sequence(1, __${totalPages}__)}">
                <li>
                    <a th:href="@{${'~' + #httpServletRequest.requestURI}
                    (page=__${pageNum}__,
                    size=${param.size},
                    order=${param.order},
                    by=${param.by},
                    name=${param.name},
                    hasPool=${param.hasPool},
                    hasWaterpark=${param.hasWaterpark},
                    hasTennisCourt=${param.hasTennisCourt})}"
                       th:text="${pageNum}"></a></li>
            </ul>
        </div>
    </div>

</div>

</body>

</html>